.popup__item-error {
  font-family: "Inter", "Arial", sans-serif;
  position: absolute;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  padding: 0 0 0 10px;
  display: none;
}
