.popup__button_disabled {
  background-color: #fff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 2px;
  opacity: 0.5;
  color: #000;
}

.popup__button_disabled:hover {
  cursor: default;
  opacity: 0.5;
}
