.profile__edit {
  height: 24px;
  width: 24px;
  border: 1px solid #fff;
  box-sizing: border-box;
  background: no-repeat center url(../../../images/edit-pen.svg);
  cursor: pointer;
  transition: ease-in 0.07s opacity;
  align-self: center;
  grid-column: 3;
  grid-row: 1;
  margin-bottom: -10px;
}

.profile__edit:hover {
  opacity: 0.6;
}

.profile__edit:focus {
  outline: none;
}

@media screen and (max-width: 565px) {
  .profile__edit {
    height: 18px;
    width: 18px;
    grid-column: 2;
    grid-row: 2;
    justify-self: start;
    margin-bottom: 0;
  }
}
