@import url(./__image/element__image.css);
@import url(./__content/element__content.css);
@import url(./__title/element__title.css);
@import url(./__heart/element__heart.css);
@import url(./__heart/_active/element__heart_active.css);
@import url(./__basket/element__basket.css);
@import url(./__basket/_hidden/element__basket_hidden.css);
@import url(./__likes/element__likes.css);
@import url(./__number-likes/element__number-likes.css);

.element {
  width: 282px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  margin-bottom: 21px;
  overflow: hidden;
}

@media screen and (max-width: 565px) {
  .element:last-of-type {
    margin-bottom: 0;
  }
}
