@import url(./__container/popup__container.css);
@import url(./__title/popup__title.css);
@import url(./__form/popup__form.css);
@import url(./__content/popup__content.css);
@import url(./__item-control/popup__item-control.css);
@import url(./__item/popup__item.css);
@import url(./__item/_type/popup__item_type_name.css);
@import url(./__item/_type/popup__item_type_about.css);
@import url(./__item/_type/popup__item_type_error.css);
@import url(./__item-error/popup__item-error.css);
@import url(./__item-error/_visible/popup__item-error_visible.css);
@import url(./__button/popup__button.css);
@import url(./__button/_disabled/popup__button_disabled.css);
@import url(./__button-close/popup__button-close.css);
@import url(./__button-close/_place/popup__button-close_place_open-element.css);
@import url(./_function/popup_function_edit.css);
@import url(./_function/popup_function_add-element.css);
@import url(./_function/popup_function_question.css);
@import url(./_function/popup_function_edit-avatar.css);
@import url(./__image-content/popup__image-content.css);
@import url(./__image/popup__image.css);
@import url(./__image-caption/popup__image-caption.css);

.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}
